@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1c1917;
  --foreground: #d5c4a1;
}

@layer base {
  body {
    @apply bg-medieval-stone text-parchment-light font-sans;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-serif text-medieval-gold;
  }
}

@layer utilities {
  .mask-fade-edges {
    mask-image: linear-gradient(
      to right,
      transparent,
      black 5%,
      black 95%,
      transparent
    );
    -webkit-mask-image: linear-gradient(
      to right,
      transparent,
      black 5%,
      black 95%,
      transparent
    );
  }

  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-none {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
